name: Build vote-server

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - ci
    tags:
      - "v*"

jobs:
  build:
    if: ${{ !startsWith(github.head_ref, 'release-please') }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            arch: x86_64
          - os: ubuntu-24.04-arm
            arch: aarch64
    container:
      image: clux/muslrust:stable
    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: |
        apt-get update && apt-get install -y libssl-dev pkg-config
        cargo build --release --target ${{ matrix.arch }}-unknown-linux-musl
    - name: Staging
      run: |
        mkdir zcash-vote-server
        cp target/${{ matrix.arch }}-unknown-linux-musl/release/zcash-vote-server zcash-vote-server
        cp Rocket.toml zcash-vote-server
        mkdir zcash-vote-server/data
        tar cvzf zcash-vote-server-${{ matrix.arch }}.tgz zcash-vote-server
    - name: Release
      uses: softprops/action-gh-release@v2
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: zcash-vote-server-${{ matrix.arch }}.tgz
